.button {
    -fx-background-color: #004884;
    -fx-text-fill: white;
}
.backgroundLogin {
    -fx-background-color: #F2F2F2;
}
.button:hover {
    -fx-background-color: #338d71;
}
.separator {
    -fx-text-fill: #c6c6c6;
}
.smallText{
    /* -fx-font-size: 12px;*/
    /*-fx-text-fill: #DAD7CD;*/
}
.normalText{
    /*-fx-font-size: 24px;*/
    /*-fx-text-fill: #2a3d34;*/
}
.bigText{
    /*-fx-font-size: 32px;*/
    /*-fx-text-fill: #2a3d34;*/
    /*-fx-font-family: "Helvatica";*/
}
.textAreaFont{
    -fx-font-size: 24px;
    /*-fx-text-fill: #2a3d34;*/
}

.userPane{
    -fx-background-radius: 20px;
    -fx-background-color: #004884;
}
.userPaneTitleText{
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
.userPaneText{
    -fx-text-fill: white;
    -fx-font-size: 14px;
}
.orderItemPane{
    -fx-background-color: white;
    -fx-background-radius: 15px;
    -fx-font-size: 24px;
}
.orderItemText{
    -fx-text-fill: #004884;
}

#topBar{
    -fx-background-color: #004B88;
}
#sideMenu{
    -fx-background-color: #E5E5E5;
    -fx-background-radius: 15px;
}
#paneBackground{
    -fx-background-color: #7FA8C5;
    -fx-background-radius: 20px;
}
#txtSearchOrdernumb{
    -fx-background-radius: 65px;
}
#Buttoncustom{
    -fx-background-color: #004B88;
    -fx-background-radius: 65px;
    -fx-text-fill: white;
}

